<li class="ms-ListItem ms-ListItem--image" id="candidateCard" tabindex="0">
    <div class="ms-ListItem-image"></div>
    <span class="ms-ListItem-primaryText" id="cadidate_name">{{candidate.full_name}}</span>
    <span class="ms-ListItem-secondaryText" id="cadidate_position">{{candidate.position}}</span>
    <span class="ms-ListItem-tertiaryText">{{candidate.campaign_promises}}</span>
    <div class="ms-ListItem-selectionTarget"></div>
    <div class="ms-ListItem-actions">
        <!-- <div class="ms-ListItem-action">
                        <i class="ms-Icon ms-Icon--Mail"></i>
                    </div> -->
        <div class="ms-Dropdown ">
            <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--ChevronDown"></i>
            <select class="ms-Dropdown-select">
                <option>Choose a rank</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
    </div>
</li>