<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Now</title>
    <link rel="stylesheet"
        href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css">
 6       </div>
        <button id="login" class="ms-Button" type="submit">
            <span class="ms-Button-label">Login</span>
        </button>
    </form>


</body>
<script type="text/javascript">
    // Microsoft Design Stuff
    var TextFieldElements = document.querySelectorAll(".ms-TextField");
    for (var i = 0; i < TextFieldElements.length; i++) {
        new fabric['TextField'](TextFieldElements[i]);
    }

    //run this after doc is loaded
    $(document).ready(function () {
        $("#login").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: 'login',
                type: "POST",
                data: $('#login_form').serialize(), // this will get form fields
                success: function (res) {
                    window.location.href = "/selection/president";
                },
                error : functpion( jqXHR, textStatus,  errorThrown ) {
                    alert(jqXHR.responseText)
                }
            });

        });



    });
</script>

</html>