<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To Voting</title>
    <link rel="stylesheet"
          href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css">
    <link rel="stylesheet"
          href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css">
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/js/fabric.min.js"></script>
</head>

<body>
<h1>Welcome </h1>
<h1> To </h1>
<h1> VOTING </h1>
<a href="/login">
    <button id="login" class="ms-Button">
        <span class="ms-Button-label">Login To Vote</span>
    </button>
</a>

</body>
<script type="text/javascript">
    var ButtonElements = document.querySelectorAll(".ms-Button");
    for (var i = 0; i < ButtonElements.length; i++) {
        new fabric['Button'](ButtonElements[i], function () {
            // Insert Event Here
        });
    }

</script>

</html>